In [1]:
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
##Categorigal feattures: Geography and Gender
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
one_hot_encoder_geo=OneHotEncoder()
geo_encoded=one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [9]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
data=pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
X=data.drop('EstimatedSalary', axis=1)
y=data['EstimatedSalary']

In [13]:
X_train,X_test,y_train,y_text=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

### ANN Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1
    Dense(32,activation='relu'), ##HL2
    Dense(1) ##OUTPUT
])

In [18]:
model.compile(optimizer="adam", loss="mean_absolute_error",metrics=['mae'])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
## Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
log_dir="regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [20]:
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [21]:
## Traning the model
history=model.fit(X_train, y_train, validation_data=(X_test, y_text),epochs=100,
        callbacks=[tf_callback,early_stopping_callback]
                  )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 100900.0938 - mae: 100900.0938 - val_loss: 98496.8125 - val_mae: 98496.8125
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 100026.8516 - mae: 100026.8516 - val_loss: 96835.4297 - val_mae: 96835.4297
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97721.1016 - mae: 97721.1016 - val_loss: 92623.8281 - val_mae: 92623.8281
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 92811.9219 - mae: 92811.9219 - val_loss: 85667.6094 - val_mae: 85667.6094
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 85659.9375 - mae: 85659.9375 - val_loss: 76805.7031 - val_mae: 76805.7031
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 76116.6719 - mae: 76116.6719 - val_loss: 67826.4844 - val_mae: 67826.4844
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 67091.9219 - mae: 67091.9219 - val_loss: 60281.8633 - val_mae: 60281.8633
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59508.0820 - mae: 59508.0820 - val_loss: 55195.8789 - val_mae: 55195.8789
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 53845.1016 - mae: 53845.1016 - val_loss: 52346.0078 - val_mae: 52346.0078
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51966.3359 - mae: 51966.3359 - val_loss: 51223.9453 - val_mae: 51223.9453
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51165.5977 - mae: 51165.5977 - val_loss: 50827.0586 - val_mae: 50827.0586
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49870.8594 - mae: 49870.8594 - val_loss: 50673.8945 - val_mae: 50673.8945
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49642.9883 - mae: 49642.9883 - val_loss: 50616.0234 - val_mae: 50616.0234
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50090.9805 - mae: 50090.9805 - val_loss: 50573.4375 - val_mae: 50573.4375
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50878.1875 - mae: 50878.1875 - val_loss: 50547.1289 - val_mae: 50547.1289
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49740.7461 - mae: 49740.7461 - val_loss: 50519.9805 - val_mae: 50519.9805
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50222.2734 - mae: 50222.2734 - val_loss: 50504.4453 - val_mae: 50504.4453
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50649.2344 - mae: 50649.2344 - val_loss: 50481.9297 - val_mae: 50481.9297
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50045.4570 - mae: 50045.4570 - val_loss: 50477.2930 - val_mae: 50477.2930
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49699.9336 - mae: 49699.9336 - val_loss: 50443.0977 - val_mae: 50443.0977
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49886.0938 - mae: 49886.0938 - val_loss: 50428.6367 - val_mae: 50428.6367
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49882.1992 - mae: 49882.1992 - val_loss: 50414.8789 - val_mae: 50414.8789
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49598.6055 - mae: 49598.6055 - val_loss: 50406.6875 - val_mae: 50406.6875
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50229.8789 - mae: 50229.8789 - val_loss: 50394.2070 - val_mae: 50394.2070
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49881.8086 - mae: 49881.8086 - val_loss: 50378.4570 - val_mae: 50378.4570
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49515.0195 - mae: 49515.0195 - val_loss: 50369.9688 - val_mae: 50369.9688
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49660.4648 - mae: 49660.4648 - val_loss: 50366.3203 - val_mae: 50366.3203
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49502.9531 - mae: 49502.9531 - val_loss: 50366.0039 - val_mae: 50366.0039
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50069.1875 - mae: 50069.1875 - val_loss: 50361.2383 - val_mae: 50361.2383
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49907.8750 - mae: 49907.8750 - val_loss: 50348.8984 - val_mae: 50348.8984
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49423.3203 - mae: 49423.3203 - val_loss: 50345.7734 - val_mae: 50345.7734
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49902.3516 - mae: 49902.3516 - val_loss: 50344.7734 - val_mae: 50344.7734
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49590.9844 - mae: 49590.9844 - val_loss: 50345.4922 - val_mae: 50345.4922
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49468.5352 - mae: 49468.5352 - val_loss: 50343.2695 - val_mae: 50343.2695
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49485.6758 - mae: 49485.6758 - val_loss: 50329.0938 - val_mae: 50329.0938
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49306.6133 - mae: 49306.6133 - val_loss: 50336.7461 - val_mae: 50336.7461
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49251.0391 - mae: 49251.0391 - val_loss: 50327.1641 - val_mae: 50327.1641
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49342.3555 - mae: 49342.3555 - val_loss: 50327.6172 - val_mae: 50327.6172
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49592.6289 - mae: 49592.6289 - val_loss: 50322.9570 - val_mae: 50322.9570
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49526.8828 - mae: 49526.8828 - val_loss: 50321.4570 - val_mae: 50321.4570
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49142.3398 - mae: 49142.3398 - val_loss: 50315.3789 - val_mae: 50315.3789
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50465.4336 - mae: 50465.4336 - val_loss: 50319.6758 - val_mae: 50319.6758
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50130.5703 - mae: 50130.5703 - val_loss: 50319.7930 - val_mae: 50319.7930
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49652.2891 - mae: 49652.2891 - val_loss: 50320.3828 - val_mae: 50320.3828
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49882.3125 - mae: 49882.3125 - val_loss: 50313.6133 - val_mae: 50313.6133
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49226.9023 - mae: 49226.9023 - val_loss: 50312.6055 - val_mae: 50312.6055
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49432.2773 - mae: 49432.2773 - val_loss: 50319.7734 - val_mae: 50319.7734
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48752.1289 - mae: 48752.1289 - val_loss: 50309.6680 - val_mae: 50309.6680
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49644.5469 - mae: 49644.5469 - val_loss: 50320.8008 - val_mae: 50320.8008
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49377.1602 - mae: 49377.1602 - val_loss: 50328.7734 - val_mae: 50328.7734
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49126.8906 - mae: 49126.8906 - val_loss: 50323.3672 - val_mae: 50323.3672
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49430.6875 - mae: 49430.6875 - val_loss: 50327.2773 - val_mae: 50327.2773
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49948.3945 - mae: 49948.3945 - val_loss: 50327.5938 - val_mae: 50327.5938
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49148.2656 - mae: 49148.2656 - val_loss: 50325.5469 - val_mae: 50325.5469
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49311.4883 - mae: 49311.4883 - val_loss: 50330.4492 - val_mae: 50330.4492
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49406.8789 - mae: 49406.8789 - val_loss: 50319.2344 - val_mae: 50319.2344
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49264.2539 - mae: 49264.2539 - val_loss: 50325.9297 - val_mae: 50325.9297
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49289.3828 - mae: 49289.3828 - val_loss: 50327.0312 - val_mae: 50327.0312

In [22]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir regressionlogs/fit/20250607-164209

Reusing TensorBoard on port 6007 (pid 6532), started 0:00:06 ago. (Use '!kill 6532' to kill it.)

In [29]:
test_loss,tes_mae=model.evaluate(X_test,y_text)
print(f'Test MAE: {tes_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51019.3477 - mae: 51019.3477
Test MAE: 50309.66796875

In [30]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.